<nav class="nav" x-data="navComponent()">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="logo">
        <i class="fa-solid fa-code"></i>
        <h1>Mark Simpson</h1>
      </a>

      <ul class="nav-links" :class="open ? 'open' : ''">
        <li><a :class="{ 'active': active=='' }" href="/">Home</a></li>
        <li>
          <a :class="{ 'active': active=='about' }" href="/about">About</a>
        </li>
        <li>
          <a :class="{ 'active': active=='projects' }" href="/projects"
            >Projects</a
          >
        </li>
        <li>
          <a :class="{ 'active': active=='contact' }" href="/contact"
            >Contact</a
          >
        </li>
      </ul>
      <span
        class="material-icons"
        id="close"
        :class="open ? 'open' : ''"
        x-show="open"
        @click="open = !open"
        >close</span
      >

      <span class="material-icons" id="menu" x-show="!open" @click="open=true"
        >menu</span
      >

      <div class="socials" :class="open ? 'open' : ''">
        <a href="https://www.linkedin.com/in/mark-simpson-230162145/"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
        <a href="https://github.com/msimp24">
          <i class="fa-brands fa-github"></i
        ></a>
      </div>
    </div>
  </div>
</nav>

<script>
  function navComponent() {
    return {
      active: window.location.pathname.split('/').pop(),
      open: false,
    }
  }
</script>
